*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul{
    display: flex;
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active{
    border-bottom: 2px solid #fff;
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

#registerBtn{
    margin-left: 15px;
    
}

.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.nav-menu-btn{
    display: none;

}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.reachUs-button {
    padding: 1rem;
    background-color: #0dac30;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.reachUs-button:hover {
    background-color: #1ac840;
}


.bn2{
    text-align: center;
    margin: 10px;
}

.bnimage {
    max-width: 100%;
    height: 120px;
    margin: 100px;
    text-align: center;
}

.contact-form {
    padding: 40px 0;
    margin: 10px;
}

.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    font-weight: bold;
}

.form-container input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}

.submit-button {
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}


.contact-info {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}

.contact-info h2 {
    margin-bottom: 20px;
}


footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

.hamburger {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}


@media  (max-width: 786px){
    .nav-button{
        display: none;
    }

    .nav-menu.responsive{
        top: 100px;
    }

    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(7, 7, 7, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn{
        display: block;
    }

    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(8, 8, 8, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover{
        background: rgba(14, 13, 13, 0.15);
    }
}



.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}


.input-field{
    font-size: 15px;
    background: rgba(233, 234, 233, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder{
    color: #fff;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}


@media (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }

    .form-box{
        width: 100%;
        height: 500px;
    }

    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }
}












